# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintainted in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
data_seismic/export/project-2-at-2022-11-11-15-11-8628dce5.json
data_seismic/
test-zone/MNIST/
WestCam/*.zgy
WestCam/arrays
WestCam/arrays.rar
WestCam/project-1-at-2022-11-23-14-00-7c23b4b9
test-zone/models/model_99
test-zone/models/model_98
test-zone/models/model_97
test-zone/models/model_96
test-zone/models/model_95
test-zone/models/model_94
test-zone/models/model_93
test-zone/models/model_92
test-zone/models/model_91
test-zone/models/model_90
test-zone/models/model_9
test-zone/models/model_89
test-zone/models/model_88
test-zone/models/model_87
test-zone/models/model_86
test-zone/models/model_85
test-zone/models/model_84
test-zone/models/model_83
test-zone/models/model_82
test-zone/models/model_81
test-zone/models/model_80
test-zone/models/model_8
test-zone/models/model_79
test-zone/models/model_78
test-zone/models/model_77
test-zone/models/model_76
test-zone/models/model_75
test-zone/models/model_74
test-zone/models/model_73
test-zone/models/model_72
test-zone/models/model_71
test-zone/models/model_70
test-zone/models/model_7
test-zone/models/model_69
test-zone/models/model_68
test-zone/models/model_67
test-zone/models/model_66
test-zone/models/model_65
test-zone/models/model_64
test-zone/models/model_63
test-zone/models/model_62
test-zone/models/model_61
test-zone/models/model_60
test-zone/models/model_6
test-zone/models/model_59
test-zone/models/model_58
test-zone/models/model_57
test-zone/models/model_56
test-zone/models/model_55
test-zone/models/model_54
test-zone/models/model_53
test-zone/models/model_52
test-zone/models/model_51
test-zone/models/model_50
test-zone/models/model_5
test-zone/models/model_49
test-zone/models/model_48
test-zone/models/model_47
test-zone/models/model_46
test-zone/models/model_45
test-zone/models/model_44
test-zone/models/model_43
test-zone/models/model_42
test-zone/models/model_41
test-zone/models/model_40
test-zone/models/model_4
test-zone/models/model_399
test-zone/models/model_398
test-zone/models/model_397
test-zone/models/model_396
test-zone/models/model_395
test-zone/models/model_394
test-zone/models/model_393
test-zone/models/model_392
test-zone/models/model_391
test-zone/models/model_390
test-zone/models/model_39
test-zone/models/model_389
test-zone/models/model_388
test-zone/models/model_387
test-zone/models/model_386
test-zone/models/model_385
test-zone/models/model_384
test-zone/models/model_383
test-zone/models/model_382
test-zone/models/model_381
test-zone/models/model_380
test-zone/models/model_38
test-zone/models/model_379
test-zone/models/model_378
test-zone/models/model_377
test-zone/models/model_376
test-zone/models/model_375
test-zone/models/model_374
test-zone/models/model_373
test-zone/models/model_372
test-zone/models/model_371
test-zone/models/model_370
test-zone/models/model_37
test-zone/models/model_369
test-zone/models/model_368
test-zone/models/model_367
test-zone/models/model_366
test-zone/models/model_365
test-zone/models/model_364
test-zone/models/model_363
test-zone/models/model_362
test-zone/models/model_361
test-zone/models/model_360
test-zone/models/model_36
test-zone/models/model_359
test-zone/models/model_358
test-zone/models/model_357
test-zone/models/model_356
test-zone/models/model_355
test-zone/models/model_354
test-zone/models/model_353
test-zone/models/model_352
test-zone/models/model_351
test-zone/models/model_350
test-zone/models/model_35
test-zone/models/model_349
test-zone/models/model_348
test-zone/models/model_347
test-zone/models/model_346
test-zone/models/model_345
test-zone/models/model_344
test-zone/models/model_343
test-zone/models/model_342
test-zone/models/model_341
test-zone/models/model_340
test-zone/models/model_34
test-zone/models/model_339
test-zone/models/model_338
test-zone/models/model_337
test-zone/models/model_336
test-zone/models/model_335
test-zone/models/model_334
test-zone/models/model_333
test-zone/models/model_332
test-zone/models/model_331
test-zone/models/model_330
test-zone/models/model_33
test-zone/models/model_329
test-zone/models/model_328
test-zone/models/model_327
test-zone/models/model_326
test-zone/models/model_325
test-zone/models/model_324
test-zone/models/model_323
test-zone/models/model_322
test-zone/models/model_321
test-zone/models/model_320
test-zone/models/model_32
test-zone/models/model_319
test-zone/models/model_318
test-zone/models/model_317
test-zone/models/model_316
test-zone/models/model_315
test-zone/models/model_314
test-zone/models/model_313
test-zone/models/model_312
test-zone/models/model_311
test-zone/models/model_310
test-zone/models/model_31
test-zone/models/model_309
test-zone/models/model_308
test-zone/models/model_307
test-zone/models/model_306
test-zone/models/model_305
test-zone/models/model_304
test-zone/models/model_303
test-zone/models/model_302
test-zone/models/model_301
test-zone/models/model_300
test-zone/models/model_30
test-zone/models/model_3
test-zone/models/model_299
test-zone/models/model_298
test-zone/models/model_297
test-zone/models/model_296
test-zone/models/model_295
test-zone/models/model_294
test-zone/models/model_293
test-zone/models/model_292
test-zone/models/model_291
test-zone/models/model_290
test-zone/models/model_29
test-zone/models/model_289
test-zone/models/model_288
test-zone/models/model_287
test-zone/models/model_286
test-zone/models/model_285
test-zone/models/model_284
test-zone/models/model_283
test-zone/models/model_282
test-zone/models/model_281
test-zone/models/model_280
test-zone/models/model_28
test-zone/models/model_279
test-zone/models/model_278
test-zone/models/model_277
test-zone/models/model_276
test-zone/models/model_275
test-zone/models/model_274
test-zone/models/model_273
test-zone/models/model_272
test-zone/models/model_271
test-zone/models/model_270
test-zone/models/model_27
test-zone/models/model_269
test-zone/models/model_268
test-zone/models/model_267
test-zone/models/model_266
test-zone/models/model_265
test-zone/models/model_264
test-zone/models/model_263
test-zone/models/model_262
test-zone/models/model_261
test-zone/models/model_260
test-zone/models/model_26
test-zone/models/model_259
test-zone/models/model_258
test-zone/models/model_257
test-zone/models/model_256
test-zone/models/model_255
test-zone/models/model_254
test-zone/models/model_253
test-zone/models/model_252
test-zone/models/model_251
test-zone/models/model_250
test-zone/models/model_25
test-zone/models/model_249
test-zone/models/model_248
test-zone/models/model_247
test-zone/models/model_246
test-zone/models/model_245
test-zone/models/model_244
test-zone/models/model_243
test-zone/models/model_242
test-zone/models/model_241
test-zone/models/model_240
test-zone/models/model_24
test-zone/models/model_239
test-zone/models/model_238
test-zone/models/model_237
test-zone/models/model_236
test-zone/models/model_235
test-zone/models/model_234
test-zone/models/model_233
test-zone/models/model_232
test-zone/models/model_231
test-zone/models/model_230
test-zone/models/model_23
test-zone/models/model_229
test-zone/models/model_228
test-zone/models/model_227
test-zone/models/model_226
test-zone/models/model_225
test-zone/models/model_224
test-zone/models/model_223
test-zone/models/model_222
test-zone/models/model_221
test-zone/models/model_220
test-zone/models/model_22
test-zone/models/model_219
test-zone/models/model_218
test-zone/models/model_217
test-zone/models/model_216
test-zone/models/model_215
test-zone/models/model_214
test-zone/models/model_213
test-zone/models/model_212
test-zone/models/model_211
test-zone/models/model_210
test-zone/models/model_21
test-zone/models/model_209
test-zone/models/model_208
test-zone/models/model_207
test-zone/models/model_206
test-zone/models/model_205
test-zone/models/model_204
test-zone/models/model_203
test-zone/models/model_202
test-zone/models/model_201
test-zone/models/model_200
test-zone/models/model_20
test-zone/models/model_2
test-zone/models/model_199
test-zone/models/model_198
test-zone/models/model_197
test-zone/models/model_196
test-zone/models/model_195
test-zone/models/model_194
test-zone/models/model_193
test-zone/models/model_192
test-zone/models/model_191
test-zone/models/model_190
test-zone/models/model_19
test-zone/models/model_189
test-zone/models/model_188
test-zone/models/model_187
test-zone/models/model_186
test-zone/models/model_185
test-zone/models/model_184
test-zone/models/model_183
test-zone/models/model_182
test-zone/models/model_181
test-zone/models/model_180
test-zone/models/model_18
test-zone/models/model_179
test-zone/models/model_178
test-zone/models/model_177
test-zone/models/model_176
test-zone/models/model_175
test-zone/models/model_174
test-zone/models/model_173
test-zone/models/model_172
test-zone/models/model_171
test-zone/models/model_170
test-zone/models/model_17
test-zone/models/model_169
test-zone/models/model_168
test-zone/models/model_167
test-zone/models/model_166
test-zone/models/model_165
test-zone/models/model_164
test-zone/models/model_163
test-zone/models/model_162
test-zone/models/model_161
test-zone/models/model_160
test-zone/models/model_16
test-zone/models/model_159
test-zone/models/model_158
test-zone/models/model_157
test-zone/models/model_156
test-zone/models/model_155
test-zone/models/model_154
test-zone/models/model_153
test-zone/models/model_152
test-zone/models/model_151
test-zone/models/model_150
test-zone/models/model_15
test-zone/models/model_149
test-zone/models/model_148
test-zone/models/model_147
test-zone/models/model_146
test-zone/models/model_145
test-zone/models/model_144
test-zone/models/model_143
test-zone/models/model_142
test-zone/models/model_141
test-zone/models/model_140
test-zone/models/model_14
test-zone/models/model_139
test-zone/models/model_138
test-zone/models/model_137
test-zone/models/model_136
test-zone/models/model_135
test-zone/models/model_134
test-zone/models/model_133
test-zone/models/model_132
test-zone/models/model_131
test-zone/models/model_130
test-zone/models/model_13
test-zone/models/model_129
test-zone/models/model_128
test-zone/models/model_127
test-zone/models/model_126
test-zone/models/model_125
test-zone/models/model_124
test-zone/models/model_123
test-zone/models/model_122
test-zone/models/model_121
test-zone/models/model_120
test-zone/models/model_12
test-zone/models/model_119
test-zone/models/model_118
test-zone/models/model_117
test-zone/models/model_116
test-zone/models/model_115
test-zone/models/model_114
test-zone/models/model_113
test-zone/models/model_112
test-zone/models/model_111
test-zone/models/model_110
test-zone/models/model_11
test-zone/models/model_109
test-zone/models/model_108
test-zone/models/model_107
test-zone/models/model_106
test-zone/models/model_105
test-zone/models/model_104
test-zone/models/model_103
test-zone/models/model_102
test-zone/models/model_101
test-zone/models/model_100
test-zone/models/model_10
test-zone/models/model_1
test-zone/models/model_0
test-zone/models/model_99
